@mixin input-select-border {
  border: 1px solid #ccc;
  border-radius: 4px;
}
@mixin require-arbitrary($color: null) {
  background: $color;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  @include font(12px, null, #fff, null);
  vertical-align: top;
}