$mypage-bgcolor: #f5f5f5;
$mypage-lg-width: 1020px;
$mypage-black: #333333;
$mypage-white: #ffffff;
$mypage-tab-dimgray: #cccccc;
$mypage-hover-dimgray: #eeeeee;
$mypage-hover-dimwhite: #fafafa;
$mypage-active-tab-red: #ea352d;
