.main__inner__body
  .registration__finish__container
    %h2.registration__finish__container__title
      確認完了
    .registration__finish__container__information
      %p.registration__finish__caption
        メルカリをご利用いただき誠にありがとうございます。
        %br
        ○○○○○@gmail.comの確認が完了しました。
        %br
        引き続き当サービスをお楽しみください。