//商品画像サムネイルの大枠共通
@mixin boxSet {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  color: #333;
}

//商品画像の値札部分共通
@mixin boxSet__capital {
  background: rgba(0,0,0,.4);
  border-radius: 0 14px 14px 0;
  padding:10px 5px;
  text-align: center;
  color:white;
}

//商品画像のキャプション部分共通
@mixin boxSet__caption {
  padding:10px;
  background: white;
  width: 100%;
  text-align: center;
  color:$main-black;
}

//clearfix
@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

//displayflexの上下左右中央揃え
@mixin display__layout{
  display: flex;
  justify-content: center;
  align-items: center;
}

//余白除去
.cmt{
  margin-top:0 !important;
}
//余白除去
.cmr{
  margin-right:0 !important;
}
//余白除去
.cmb{
  margin-bottom:0 !important;
}
//余白除去
.cml{
  margin-left:0 !important;
}
//余白除去
.cmall{
  margin:0 !important;
}
//余白除去
.cpt{
  padding-top:0 !important;
}
//余白除去
.cpr{
  padding-right:0 !important;
}
//余白除去
.cpb{
  padding-bottom:0 !important;
}
//余白除去
.cpl{
  padding-left:0 !important;
}
//余白除去
.cpall{
  padding:0 !important;
}

//罫線
.add__linet{
  border-top: 1px solid #f5f5f5;
}
.add__lineb{
  border-bottom: 1px solid #f5f5f5;
}

//文字色
.f__red{
  color:$main-red;
}
.f__blue{
  color:$main-blue;
}
.f__gray{
  color:$main-gray;
}
.f__white{
  color:white;
}

//横幅強制変形
.woh{
  width: 100% !important;
}

//横幅強制変形
.wth{
  width: 20% !important;
}

//横幅強制変形
.t-center{
  text-align: center !important;
}