%li.exhibit-center__main__form-section__images__preview__item{ data: {"image-id": image.id} }
  .exhibit-center__main__form-section__images__preview__item__image
    = image_tag image.image_url, alt: 'jcb', width: '120'
  .exhibit-center__main__form-section__images__preview__item__button-delete
    %span 削除
