%ul.new__item
  - @products.each do |product|
    = link_to product_path(product.id) do
      %li.item
        .item__picture{style: "background-image: url(#{product.product_images.first.image});"}
          .item__capital
            ¥
            = product.price
          .item__caption
            = product.name