%body
  %header.header

  .slider

  .Popularity
    %h2 人気のカテゴリー
    %ul
      %li
        %a レディース
      %li
        %a メンズ
      %li
        %a 家電・スマホ・カメラ
      %li
        %a おもちゃ・ホビー・グッズ

  .item__All
    .newItem__Title
      %h3 レディース新着アイテム
      %a{:href => "#"} もっと見る＞
    %ul.new__item
      %li
      
      
  .news__Bar
  %footer
  .red__Button
