%body
  %header.header
  .slider
  .Popularity
    %h2 人気のカテゴリー
    %div
      %ul
        %li
          %a レディース
        %li
          %a メンズ
        %li
          %a 家電・スマホ・カメラ
        %li
          %a おもちゃ・ホビー・グッズ
  .itemAll
    .newItemTitle
      %h3 レディース新着アイテム
      %a{:href => "#"} もっと見る
    %ul
      %li
        %div{:style => ""}
          %a{:href => "#"}
            %span VIVIENNE WESTWOOD / 小物 タバコケース
            %div
              %span ¥7,999
              .imgContainer
                商品画像
  .topAside
  %footer
  .redButton
