.registration__page__header__wrapper  
  .registration__page__header
    = link_to "", class: "" do
      = image_tag 'logos/fmarket_logo_red.svg', alt: 'fmarket_logo', height: '55'
    .phased__caption__and__registration
      %ul.phased__caption
        %li.phased__caption__one
          会員情報
        %li.phased__caption__two
          電話番号認証
        %li.phased__caption__three
          お届け先情報入力
        %li.phased__caption__four
          支払い方法
        %li.phased__caption__five
          完了
      .phased__registration
        .circle__check__object--red
        .line__check__object--red
        .circle__check__object--red
        .line__check__object--gray
        .circle__check__object--gray
        .line__check__object--gray
        .circle__check__object--gray
        .line__check__object--gray
        .circle__check__object--gray