.mypage {
  .pc-header {
    &__inner {
      width: 1020px;
      margin: 0 auto;
      &__top {
        display: flex;
      }
      &__navbar {
        display: flex;
        justify-content: space-between;
        &__menu-left {
          display: flex;
        }
        &__menu-right {
          display: flex;
        }
      }
    }
  }
  .main {
    background-color: #eef3f8;
    padding: 40px 0;
    &__inner {
      width: 1020px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__sidebar {
        width: 280px;
        li {
          border-bottom: 1px solid whitesmoke;
          background-color: #fff;
          a {
            color: #333333;
            display: block;
            font-size: 14px;
            padding: 16px;
            text-decoration: none;
          }
        }
      }
      &__body {
        width: 700px;
        &__user-icon {
          height: 200px;
          background-image: url(mypage/bg_ocean_suiheisen.jpg);
        }
        &__notification {
          background-color: #fff;
          &__tabs {
            display: flex;
            &__title {
              background-color: #eee;
              flex-grow: 1;
              line-height: 72px;
              text-align: center;
              &.active {
                background-color: #fff;
                border-top: 2px solid red;
              }
            }
          }
          &__messages {
            &__item {
              a {
                @include notification_link;
              }
              &--show-list {
                a {
                  @include notification_link;
                }
              }
            }
          }
        }
      }
    }
  }
  .banner {
    background-image: url(mypage/rec-room.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
    &::before {
      background: inherit;
      content: "";
      filter: blur(5px);
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      z-index: -1;
    }
    &__inner {
      margin: 0 auto;
      height: 260px;
      width: 700px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__promotion {
        color: #ffffff;
        &__title {
          font-size: 24px;
        }
        &__text {
          font-size: 35px;
        }
        &__icons {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          &__logo {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 10px;
          }
          &__apps {
            display: flex;
          }
        }
      }
      &__image {
      }
    }
  }
}
