.mypage {
  .mypage__payment {
    background-color: #fff;
    &__title {
      text-align: center;
      font-size: 24px;
      padding: 8px 0;
      border-bottom: 1px solid #f5f5f5;
      font-weight: bold;
    }
    &__container {
      padding: 64px;
      &__card-list {
        &__title {
          max-width: 320px;
          margin: 0 auto;
          font-weight: bold;
        }
        &__add-card {
          padding: 24px;
          border-bottom: 1px solid #f5f5f5;
          &__button {
            margin: 0 auto;
            background-color: red;
            text-decoration: none;
            display: block;
            width: 320px;
            line-height: 48px;
            color: #fff;
            text-align: center;
            font-size: 14px;
          }
        }
        &__about {
          margin-top: 40px;
          text-align: right;
          font-size: 14px;
          a {
            color: #0099e8;
            text-decoration: none;
          }
          &:hover {
            text-decoration: underline #0099e8;
          }
        }
      }
    }
  }
}
