.mypage {
  .breadcrumb-wrapper {
    border-top: 1px solid $mypage-hover-dimgray;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    .breadcrumb-inner {
      width: $mypage-lg-width;
      padding: 16px 0;
      margin: 0 auto;
    }
  }
  .main {
    background-color: $mypage-bgcolor;
    padding: 40px 0;
    &__inner {
      width: $mypage-lg-width;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__sidebar {
        width: 280px;
        li {
          border-bottom: 1px solid $mypage-bgcolor;
          background-color: $mypage-white;
          a {
            color: $mypage-black;
            display: block;
            font-size: $mypage-font-size;
            padding: 16px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            i {
              color: $mypage-dimgray;
            }
            &:hover {
              background-color: $mypage-dimwhite;
              & i {
                transform: translateX(50%);
                transition-duration: 0.3s;
                color: $mypage-black;
              }
            }
            &.active {
              background: $mypage-hover-dimgray;
              font-weight: 600;
            }
          }
        }
        &__payment {
          margin-top: $mypage-sidebar-block-spacing;
        }
        &__config {
          margin-top: $mypage-sidebar-block-spacing;
        }
      }
      &__body {
        width: 700px;
        &__user-icon {
          height: 200px;
          background-image: url(mypage/bg_ocean_suiheisen.jpg);
          display: flex;
          align-items: center;
          justify-content: space-around;
          .user-icon__link {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $mypage-black;
            font-size: $mypage-font-size;
            text-decoration: none;
            &__image {
              img {
                border-radius: 50%;
                background-color: $mypage-hover-dimgray;
              }
            }
            &__statistics {
              display: flex;
              &__prod-count {
                margin-left: 10px;
              }
            }
          }
        }
        &__notification {
          background-color: $mypage-white;
          &__tabs {
            display: flex;
            &__title {
              background-color: $mypage-hover-dimgray;
              flex: 1;
              line-height: 72px;
              text-align: center;
              a {
                text-decoration: none;
                color: $mypage-black;
                display: block;
              }
              &.active {
                background-color: $mypage-white;
                border-top: 2px solid $mypage-red;
              }
            }
          }
          &__messages {
            &__item {
              .messages__item {
                @include notification_link;
                min-height: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                &:hover {
                  background-color: $mypage-dimwhite;
                }
                &__content {
                  flex-grow: 1;
                  padding: 0 20px;
                  &__date {
                    color: #888;
                  }
                }
                &__arrow {
                  color: $mypage-black;
                }
              }
              &--show-all {
                padding: 16px;
                a {
                  @include notification_link;
                  background-color: $mypage-hover-dimgray;
                  height: 56px;
                  line-height: 56px;
                  text-align: center;
                  &:hover {
                    background-color: $mypage-dimwhite;
                  }
                }
              }
            }
          }
          &__alerts {
            display: none;
          }
        }
        &__purchase-history {
          margin-top: 40px;
          background-color: $mypage-white;
          &__title {
            background-color: $mypage-dimwhite;
            line-height: 72px;
            padding: 0 16px;
          }
          &__tabs {
            display: flex;
            &__title {
              background-color: $mypage-hover-dimgray;
              flex: 1;
              line-height: 72px;
              text-align: center;
              a {
                text-decoration: none;
                color: $mypage-black;
                display: block;
              }
              &.active {
                background-color: $mypage-white;
                border-top: 2px solid $mypage-red;
              }
            }
          }
          &__content {
            &__previous {
              display: none;
            }
          }
        }
      }
    }
  }
}
