.exhibit-center {
  background-color: $mypage-bgcolor;
  &__main {
    background-color: $mypage-white;
    width: $mypage-main-inner-width;
    margin: 0 auto;
    padding: 24px 40px 40px;
    &__title {
      font-size: $product-detail-font-size-title;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    &__form-section {
      &__group {
        &__title {
          label {
            font-weight: bold;
          }
          span {
            background-color: $mypage-red;
            padding: 2px 4px;
            border-radius: 2px;
            color: $mypage-white;
            font-size: $mypage-font-size-small;
          }
        }
      }
    }
  }
}
