.exhibit-center {
  background-color: $mypage-bgcolor;
  &__main {
    background-color: $mypage-white;
    width: $mypage-main-inner-width;
    margin: 0 auto;
    padding: 24px 40px 40px;
    &__title {
      font-size: $product-detail-font-size-title;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    &__form-section {
      &__group {
        &__title {
          label {
            font-weight: bold;
          }
          span {
            background-color: $mypage-red;
            padding: 2px 4px;
            border-radius: 2px;
            color: $mypage-white;
            font-size: $mypage-font-size-small;
          }
        }
        &__form {
          &__input {
            width: 100%;
            height: $mypage-card-form-input-height;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid $mypage-dimgray;
            background: $mypage-white;
            line-height: 1.5;
          }
          &__textarea {
            width: 100%;
            line-height: 1.5;
            padding: 10px 16px 8px;
          }
          &--select {
            position: relative;
            select {
              width: 100%;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              height: $mypage-card-form-input-height;
              line-height: 1.5;
              border-radius: 4px;
              border: 1px solid $mypage-dimgray;
              padding: 0 16px;
              outline: none;
            }
            select:-moz-focusring {
              color: transparent;
              text-shadow: 0 0 0 $mypage-black;
            }
            i {
              color: #888;
              position: absolute;
              right: 20px;
              top: 18px;
            }
          }
        }
      }
    }
  }
}
