// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//////ヘッダー/////
header{

  height:10vh;
  background:white;
  width:100%;

}

//////スライダー/////
.slider{
  height:390px;
  background: green;
  width:100%;
}

//////人気のカテゴリー/////
.Popularity{ 
  padding-top:56px;
  height:200px;
  width:100%;
  h2{text-align: center;
    margin-bottom: 16px;
    font-size:28px;
    font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
    font-weight: 600;
    background:white;
  
  }
  ul{
    display: flex;
    justify-content: center; 
    li{
      background-color: rgb(239, 239, 239);
      margin:0px 10px;
      padding:5px;
      border-radius:5px;
    }
  } 
}

//////新着アイテム/////
.newItem__Title {
  display: flex;
  width:80%;
  margin:0 auto;
  justify-content:space-between;
  align-items: center;
  h3{
    font-size:24px;
    font-weight:600;
  }
  a{
    text-decoration: none;
    color: rgb(0, 149, 238);

  }
}
ul.new__item{
  width:80%;
  margin:0 auto;
  li{
    width:100px;
    height:100px;
    background: pink;
  }
}

.news__Bar {
  height: 200px;
  background: blue;
  width: 100%;

  
}





/////フッター/////
footer{
  height:900px;
  background: black;
  width:100%;
}

/////赤い固定ボタン/////
.red__Button{
  width:100px;
  height:100px;
  background: red;
  border-radius: 50%;
  position:fixed;
  right:10px;
  bottom:10px;
}




