// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  text-decoration: none;
}

//////ヘッダー/////
header{

  height:10vh;
  background:white;
  width:100%;

}

//////スライダー/////
.slider{
  height:390px;
  background: green;
  width:100%;
}

//////人気のカテゴリー/////
.Popularity{ 
  padding-top:56px;
  height:200px;
  width:100%;
  
  h2{text-align: center;
    margin-bottom: 16px;
    font-size:28px;
    font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
    font-weight: 600;
    background:white;
  
  }
  ul{
    display: flex;
    justify-content: center;
    li{
      background-color: rgb(239, 239, 239);
      margin:0px 10px;
      padding:5px;
      border-radius:5px;
      a{
        color:black;
      }
    }
  } 
}

//////新着アイテム/////
.item__All{
  background: #efefef;
  padding:50px 0px;
  .newItem__Title {
    display: flex;
    width:80%;
    margin:0 auto;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
    h3{
      font-size:24px;
      font-weight:600;
    }
    a{
      color: rgb(0, 149, 238);

    }
  }
}

ul.new__item{
  width:80%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  li.item{
    padding:10px;
    .item__picture{
      width:188px;
      height:252px;
      background:white;
      position: relative;
      background-image: url(http://ochiai.lolipop.jp/portsitenew/img/jigazonew.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      box-shadow: 0 2px 4px rgba(0,0,0,.18);
      color:black;

      &:hover{
        border: 1px solid skyblue;
      }

      .item__capital{
        padding:10px;
        position: absolute;
        bottom: 50px;
        left:0px;
        align-items: center;
        background: rgba(0,0,0,.4);
        border-radius: 0 14px 14px 0;
        text-align: center;
        color:white;
  
      }
      .item__caption{
        padding:10px;
        background: white;
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;
      }
    }
    

    
  }
  
}

.news__Bar {
  height: 200px;
  background: blue;
  width: 100%;

  
}





/////フッター/////
footer{
  height:900px;
  background: black;
  width:100%;
}

/////赤い固定ボタン/////
.red__Button{
  width:100px;
  height:100px;
  background: red;
  border-radius: 50%;
  position:fixed;
  right:10px;
  bottom:10px;
}




