// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/////↓ブレイクポイント各種、使うときだけコピーしてもっていく↓/////

//@media (min-width: 576px) {}
//@media (min-width: 768px) {}
//@media (min-width: 992px) {}
//@media (min-width: 1200px) {}

//////スライダーのダミー/////
.slider{
  height:50vh;
  background: green;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  font-size: 5vw;
  text-shadow:0px 0px 6px #000000;
  a{
    color:white;
  }
}

//////人気商品カテゴリー/////
.popularity{ 
  padding-top: 5vh;
  width: 100%;
  padding-bottom: 5vh;
  background:white;
  //////人気商品カテゴリー見出し/////
  h2{text-align: center;
    margin-bottom: 16px;
    font-size:2vw;
    font-weight: 600;
    background:white;
    color:$main-black;
  }
  //////人気商品カテゴリー一覧/////
  ul.item{
    display: flex;
    justify-content: center;
    font-size: 1vw;
    li.item__tag{
      background-color: $main-gray;
      margin:0px 10px;
      padding:5px 10px;
      border-radius:15px;
      a{
        color:$main-black;
      }
    }
  } 
}

//////商品見出し梱包/////
.item__all{
  background: $main-gray;
  padding:50px 0px;
  /////見出しタイトル/////
  .new__item__title {
    display: flex;
    width:80%;
    margin:0 auto;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
    /////見出しタイトル文字設定各種/////
    h3{
      font-size:2vw;
      font-weight:600;
      color:$main-black;
    }
    /////>部分の色/////
    a{
      font-size: 1.3vw;
      color: $main-blue;
    }
  }
}

/////商品画像一覧について設定各種/////
ul.new__item{
  width:80%;
  margin:0 auto;
  display: flex;
  //justify-content: center;
  justify-content: space-between;
  flex-wrap:wrap;
  /////商品画像掲載を梱包/////
  li.item{  
    padding:10px 0px;
    /////商品画像/////
    .item__picture{
      width:188px;
      height:252px;
      background:white;
      position: relative;
      background-image: url(http://ochiai.lolipop.jp/portsitenew/img/jigazonew.png);
      @include boxSet;
      /////画像にカーソルが乗ったら罫線表示/////
      &:hover{
        border: 1px solid $main-blue;
      }
      /////商品値段/////
      .item__capital{
        position: absolute;
        bottom: 50px;
        left:0px;
        @include boxSet__capital;
      }
      /////商品画像キャプション/////
      .item__caption{
        position: absolute;
        bottom: 0px;
        @include boxSet__caption;
      }
    } 
  }  
}

/////広告バーダミー/////
.news__bar {
  height: 200px;
  background:$main-blue;
  width: 100%;  
}

/////フッター/////
footer{
  height:900px;
  background: black;
  width:100%;
}

/////赤い固定ボタン/////
.red__button{
  width:160px;
  height:160px;
  background:$main-red;
  border-radius: 50%;
  position:fixed;
  right:30px;
  bottom:30px;
  color:white;
  text-align: center;
  font-weight: bold;
  font-size:22px;
  /////出品という文字/////
  &__caption{
    position: relative;
    top:20px;
  }
  /////カメラアイコン/////
  &__icon{
    font-size: 80px;
    position: relative;
    top: 15px;
  }
}
/////ここからブレイクポイント指定//////////ここからブレイクポイント指定//////////ここからブレイクポイント指定/////

/////768px以下のデバイスで見た場合ボタンが縮小/////
@media (max-width: 768px) {
  .red__button{
    width:80px;
    height:80px;
    background:$main-red;
    border-radius: 50%;
    position:fixed;
    right:30px;
    bottom:30px;
    color:white;
    text-align: center;
    font-weight: bold;
    font-size:2rem;
    /////出品という文字/////
    &__caption{
      position: relative;
      top:12px;
      font-size:0.4em;
    }
    /////カメラアイコン/////
    &__icon{
      font-size:1em;
      position:relative;
      top:10px;
    }
  }
}