.sell-content.sell-btn-box
  %div
    %p
      %span.blue-font< 禁止されている出品
      %span.black-font 、
      %span.blue-font 行為
      %span.black-font を必ずご確認ください。
    %p
      %span.black-font またブランド品でシリアルナンバー等がある場合はご記載ください。
      %span.blue-font 偽ブランドの販売
      %span.black-font は犯罪であり処罰される可能性があります。
    %p
      %span.black-font また、出品をもちまして
      %span.blue-font 加盟店規約
      %span.black-font に同意したことになります