.exhibit-top
  =render 'single/single-header'

.exhibit
  %main.main
    %section.main__container.product-container
      .sell-upload-box
        .sell-container
          %h2.sell-container-head 商品の情報の入力
      %form.sell-all-contents
        .sell-upload
          .form-group
            %h3.sell-upload__head
              出品画像
              %span.form-require 必須
            %p.sell-upload__max-10 最大10枚までアップロードできます
            .sell-upload__drop-box
              %i.fa.fa-camera
          %ul.has-error-text 画像がありません
        .sell-content
          .product-detail
            .form-group
              %label
                商品名
                %span.form-require 必須
              %div.input-default
              %ul.has-error-text 入力してください
            .form-group
              %label
                商品の説明
                %span.form-require 必須
              %div.textarea-default
              %ul.has-error-text 入力してください

        .sell-content
          .sell-content__head
            %h3.sell-sub-head 商品の詳細
            .sell-form-box
          .sell-form-box
            .form-group.category-select
              %label
                カテゴリー
                %span.form-require 必須
              .category
                .select-wrap
                  %select.select-wrap__pulldown
                  %ul.has-error-text 選択してください
              .children-category
                .select-wrap
                  %select.select-wrap__pulldown
              .grand-children-category
                .select-wrap
                  %select.select-wrap__pulldown
            .form-group
              %label
                ブランド
                %span.form-arbitrary 任意
              .input-default
            .form-group
              %label
                商品の状態
                %span.form-require 必須
              .select-wrap
                -# = f.select :status, Product.status.keys.to_a, {}, class: 'select-wrap__pulldown'
                %ul.has-error-text 選択してください
        .sell-content
          .sell-content__head
            %h3.sell-sub-head 配送について
            %figure.form-question ?
          .sell-form-box
            .form-group
              %label
                配送料の負担
                %span.form-require 必須
              .select-wrap
                %select.select-wrap__pulldown
                %ul.has-error-text 選択してください
            .form-group
              %label
                配達の方法
                %span.form-require 必須
              .select-wrap
                %select.select-wrap__pulldown
                %ul.has-error-text 選択してください
            .form-group
              %label
                発送元の地域
                %span.form-require 必須
              .select-wrap
                %select.select-wrap__pulldown
                %ul.has-error-text 選択してください
            .form-group
              %label
                発送までの日数
                %span.form-require 必須
              .select-wrap
                %select.select-wrap__pulldown
                %ul.has-error-text 選択してください

        .sell-content.product-prices
          .sell-content__head
            %h3.sell-sub-head 販売価格(300~9,999,999)
            %figure.form-question ?
          .sell-form-box
            %ul.product-price
              %li.form-group.form-group-price
                %label.l-left.price-label
                  価格
                  %span.form-require 必須
                .l-right.product-price-input
                  %p.price-mark ¥
                  .input-price
              %ul.has-error-text 入力してください
              .clearfix-commission.form-group
                .l-left 販売手数料（10%）
                .l-right.l-right-commission.commission -
              .bold.form-group-price.profit
                .l-left.gain 販売利益
                .l-right.total-right.profits -

        .sell-content
          .sell-button-box
            .button-exhibit.button-red 出品する
            .button-exhibit.button-gray 戻る

        .exhibit-attention
          =render 'exhibit-attention'

.exhibit-bottom
  =render 'single/single-footer'