.exhibit-top
  =render 'single/single-header'
.exhibit
  %main.main
    .registration__container
      %h2.registration__container__title
        新規会員登録
      .registration__container__contents
        = link_to "", class: "btn__mail" do
          メールアドレスで登録する
        = link_to "", class: "btn__facebook" do
          facebookで登録する
        = link_to "", class: "btn__google" do
          Googleアドレスで登録する
.exhibit__bottom
  =render 'single/single-footer'