.exhibit{
  background-color: #f5f5f5;
}

.exhibi-top{
  height: 128px;
  text-align: center;
  margin: 0px auto;
  background-color: #f5f5f5;
}


.main{
  position: relative;
  margin: 0, auto;
  margin: 0px auto;
  width: 700px;
  .section{
  }
  &__conteiner{
  }
  .sell-upload-box{
    .sell-container{
      .sell-container-head{
        padding: 32px 16px;
        @include font(22px, bold, null, center);
        line-height: 1.5;
        background-color: white;
      }
    }
  }
  .sell-all-contents{
    background-color: white;
    .sell-upload{
      border-top: 1px solid #eee;
      padding: 40px;
      &__head{
        @include font(16px, bold, null, null);
      }
      &__max-10{
        margin-top: 8px;
        @include font(14px, null, null, null);
        line-height: 1.5;
      }
      &__drop-area{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 162px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        @include font(o, null, null, center);
        cursor: pointer;
      }
    }
    .sell-content{
      border-top: 1px solid #eee;
      padding: 40px;
      display: flex;
      flex-wrap: wrap;
      h3{
        display: inline-block;
      }
      figure{
        display: inline-block;
        margin: 0px;
      }
      &__head{
        width: calc(100% - 400px);
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
        h3{
          display: inline-block;
        }
        figure.form-question{
          vertical-align: middle;
          margin: 0px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #0099e8;
          line-height: 19px;
          @include font(12px, null, white, null);
          font-weight: bold;
          text-align: center;
        }
      }
      .product-detail{
        width: 100%;
      }
      .sell-form-box{
        width: 400px;
      }
    }
  }
}

.product-prices{
  .product-price{
    line-height: 48px;
    flex-wrap: wrap;
    .form-group-price{
      padding-bottom: 25px;
      .product-price-input{
        text-align: right;
      }
      .l-right.product-price-input{
        display: flex;
        justify-content: flex-end;
      }
    }
    .profit{
      padding: 24px 0px;
      height: 83px;
      @include font(16px, bold, null, null);
      .l-right{
        @include font(null, null, null, right)
      }
    }
  }
}

.exhibit-bottom{
  bottom: 0;
}





//各台の表題
.sell-sub-head{
  @include font(14px, bold, #888, null);
}

//各入力項目表題
.form-group{
  //各入力項目の表題部分
  label{
    @include font(14px, 600, null, null);
    display: inline-block;
  }
  //必須のSass
  .form-require {
    @include require-arbitrary($require-background-color);
  }
  //任意のSass
  .form-arbitrary{
    @include require-arbitrary($arbitrary-background-color);
  }
}

//userの入力項目のscss
.input-default {
  height: 48px;
  padding: 0px 16px;
  @include input-select-border;
  background: #fff;
  line-height: 1.5;
  @include font(16px, null, null, null);
}
//userのセレクト項目のsass
.select-wrap {
  line-height: 1.5;
  width: 100%;
  display: inline-block;
  margin-bottom: 8px;
  @include font(16px, null, null, null);
  &__pulldown{
    height: 48px;
    width: 100%;
    padding: 0px 16px;
    @include input-select-border;
    background: #fff;
    line-height: 1.5;
    @include font(16px, null, null, null);
  }
}

//商品の詳細の入力画面
.textarea-default{
  height: 142px;
  width: 100%;
  @include input-select-border;
  line-height: 1.5;
}

//leftに50％の時
.l-left {
  width: 50%;
  line-height: 48px;
}

//rightに50％の時
.l-right{
  width: 50%;
}

.form-group .l-right {
  width: 50%;
  vertical-align: middle;
  div {
    display: inline-block;
    width: 45%;
    margin: 0 0 0 5%;
  }
}

.product-price .form-group .l-right{
  width: 50%;
  display: flex;
  flex-direction: row;
}

.form-group .input-price{
  height: 48px;
  width: 100%;
  padding: 0px 16px;
  @include input-select-border;
  background: #fff;
  line-height: 1.5;
  @include font(16px, null, null, right);
}

.form-group-price{
  display: flex;
  flex-wrap: wrap;
}

.sell-content .price-mark{
  line-height: 48px;
  @include font(14px, 100, null, null);
}

.product-price .clearfix-commission{
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  .l-left{
    display: inline-block;
    @include font(14px, null, null, null);
  }
  .l-right{
    display: inline-block;
    @include font(null, null, null, right);
  }
}

//赤いボタンとグレーのボタンのscss
.sell-button-box{
  line-height: 20px;
  width: 100%;
  @include font(14px, null, null, null);
  .button-exhibit{
    display: block;
    width: 100%;
    line-height: 48px;
    @include font(14px, null, null, center);
    cursor: pointer;
  }
  .button-red{
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    @include font(null, null, #fff, null);
    margin: 40px 0 0;
  }
  .button-gray{
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    width: 45%;
    margin: 24px auto 0;
  }
}