.product-detail__wrapper
  .product-detail__content
    %h1.product-detail__content__title 腕時計
    .product-detail__content__main
    .product-detail__content__price
    .product-detail__content__buy
    .product-detail__content__description
    .product-detail__content__buttons
