.product-detail__wrapper
  .product-detail__content
    %h1.product-detail__content__title 腕時計
    .product-detail__content__main
      .product-detail__content__main__photo
        .product-detail__content__main__photo__show
          = image_tag 'products_temporary/food_curryrice_white.png', alt: 'food_curryrice_white', height: '300', width: '300', class: ''
      .product-detail__content__main__details
        %table
          %tbody
            %tr
              %th 出品者
              %td
            %tr
              %th カテゴリー
              %td
            %tr
              %th ブランド
              %td
            %tr
              %th 商品の状態
              %td
            %tr
              %th 配送料の負担
              %td
            %tr
              %th　配送の方法
              %td
            %tr
              %th 配送元地域
              %td
            %tr
              %th 発送日の目安
              %td
    .product-detail__content__price
    .product-detail__content__buy
    .product-detail__content__description
    .product-detail__content__buttons
