= render "shared/product_flash"
.exhibit-top
  = render 'single/single-header'
.exhibit-center
  = render partial: "product_exhibit_form", locals: { url: clone_products_path }
.exhibit-bottom
  = render 'single/single-footer'
