!!!
%html
  %head
<<<<<<< HEAD
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    = yield
=======
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    = yield
>>>>>>> master
